.container {
  padding: 20px;
}

.botao {
  display: flex;
  justify-content: end;
}

.botao lightning-button:first-child {
  margin-right: 10px;
}

.botao lightning-button:last-child {
  margin-right: 4px;
}
